@font-face {
    font-family: 'Agrandir';
    src: url('/fonts/Agrandir-Regular.woff2') format('woff2'),
        url('/fonts/Agrandir-Regular.woff') format('woff'),
        url('/fonts/Agrandir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Agrandir', sans-serif;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#navbar {
    overflow: hidden;
    background-color: transparent;
    padding: 0px 15px;
    transition: 0.4s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    top: 0;
    z-index: 99;
}

#navbar a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    margin-right: 1vmax;
    margin-left: 1vmax;
    text-decoration: none;
    font-size: 0.99rem;
    font-weight: 400;
    line-height: 25px;
    border-radius: 4px;
    font-family: 'Agrandir', sans-serif;

}

#navbar #logo {
    font-size: 25px;
    font-weight: bold;
    transition: 0.4s;
}

#navbar a:hover {
    color: rgb(186, 186, 186);
}

#navbar a.active {
    /* background-color: dodgerblue; */
    /* color: white; */
}

#navbar-right {
    float: right;
}

/* < !--======== mobile ========--> */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 150px;
    text-align: center;
}

.sidenav a {
    padding: 25px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.mobile i {
    color: #fff !important;
}


@media (max-width: 720px) {
    .mobile {
        display: initial;
    }

    .laptop {
        display: none;
    }

    .page-4 .owl-nav button {
        width: 30px !important;
        height: 30px !important;
        border: 2px solid #FFA800 !important;
        background-color: #000 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 !important;
    }

    .page-4 .owl-nav {
        margin-top: -80px;
    }

}

@media (min-width: 721px) {
    .mobile {
        display: none;
    }

    .laptop {
        display: initial;
    }

    .page-4 .owl-nav {
        width: 120px;
        position: absolute;
        top: -90px;
        right: 15px;
    }

}



/*---------- page-1 ------------ */

.page-1 {
    background-color: #000000ea;
    backdrop-filter: blur(180px);
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.color-layer-shadows {
    width: 30%;
    z-index: 999;
    position: absolute;
}

.color-layer-shadows.left {
    bottom: 0;
    left: 0;
}

.color-layer-shadows.right {
    top: 0;
    right: 0;
}

.bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.bg-image img {
    width: 100%;
    height: 100%;
}

.page-1p {
    font-size: 16px;
}

.page-1 .page-1-left h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 80px;
    letter-spacing: 0px;
}

.page-1 .page-1-left h1 .color-heading {

    background: linear-gradient(217.81deg, #9DE8EE 0.2%, #ff7a06 80.71%, #9F8CED 100.45%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mirror-flip {
    color: #ff7a06;
    display: inline-block;
}

.page-1-input-section input {
    width: 100%;
    height: 45px;
    border: 2px solid #A1AEBF;
    font-size: 14px;
    border-radius: 50vh;
    background-color: transparent;
    padding: 5px 20px !important;
    color: #fff;
}

.page-1 .page-1-btn {
    width: 110px;
    height: 45px;
    padding: 5px;
    font-size: 1.3rem;
    color: #000;
    border-radius: 5px;
    border: 2.5px solid #FFA800;
    background-color: #FFA800;
    font-size: 14px;
    border-radius: 50vh;
    font-weight: 500;
}

.page-1 .page-1-btn:hover {}

@media(max-width: 767px) {

    .page-1 .page-1-left h1 {
        font-size: 70px !important;
    }

    .page-1 .page-1-right img {
        border-radius: 10px;
        margin-top: 1vmax;
    }

    .container-flip {
        height: 50% !important;
    }
}

/* ----------- page-2 ------------ */

.page-2 {
    background-color: #000;
}

.page-2 .page-down h6 {
    color: #a6a6a6;
    font-weight: 400;
    font-size: 14px;
}


.company-logo {
    width: 100%;
    height: 140px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.logo-container {
    display: flex;
    gap: 20px;
    width: auto;
    height: auto;
    position: absolute;
    white-space: nowrap;
}

.logo-container div {
    width: 200px;
    max-width: 200px;
    height: 60px;
    border: 2px solid #A1AEBF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container div img {
    width: 70%;
    height: auto;
}

@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-container div span {
    width: 15px;
    height: 15px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    animation: rotateAnimation 10s linear infinite;
    transform-origin: center;
    color: #fff;
    font-size: 20px;
    transform-origin: center;
    cursor: pointer;
}

.logo-container-1 {
    top: 0;
    left: 20%;
}

.logo-container-2 {
    bottom: 0;
    right: 20%;
}

/*--------------- page-3 -------- */

.page-3 p {
    color: #FFFFFF99;
    font-size: 14px;
}

.page-3 h4 {
    color: #fff;
    margin-top: 5px;
}

.page-3 button {
    width: 120px;
    height: 40px;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #000;
    border: 2px solid #FFA800;
    color: #FFA800;
    border-radius: 50vh;
}

.page-3-image-section {
    background-color: #000;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

.page-1, .page-2, .page-3, .page-4, .page-5{
    width: 100%;
    overflow: hidden;
}

/*  ------------  page-4  -------------- */

.page-4 {
    background-color: #000;
    position: relative;
}

.page-4 .owl-nav button {
    width: 60px;
    height: 60px;
    border: 2px solid #FFA800 !important;
    background-color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 !important;
}

.page-4 .owl-nav button span {
    width: 20px !important;
    height: 20px !important;
    color: #FFA800 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
}

.page-4 i {
    color: #fff;
}

.page-4 .page-4-down .item img {
    border-radius: 15px;
}

.page-4 .page-4-down .item h6 {
    font-size: 16px;
    color: #fff;
}

.page-4 .page-4-down .item p {
    font-size: 14px;
    color: rgb(204, 204, 204);
    line-height: normal;
}

.owl-nav button {
    position: absolute;
    width: 35px;
    height: 35px;
    padding: 20px;
    top: 35%;
    border-radius: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 2.5rem !important;
    background-color: rgb(255, 255, 255) !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.owl-next {
    right: -15px;
}

.owl-prev {
    left: -15px;
}

.owl-nav button span {
    /* position: absolute; */
    /* width: 30px; */
    height: 52px !important;
    /* margin-left: -0.5vmax;
    margin-top: -2.4vmax !important; */
    /* background-color: red; */
}

/* -------------- Footer ------------ */
.footer {
    /* color: #FFF !important; */
}

.footer .upper i {
    font-size: 2rem;
    color: orangered;
}

.footer .upper h5 {
    margin-top: 0.8vmax;
    color: rgb(227, 227, 227);
}

.footer .upper h6 {
    font-weight: 400;
    color: rgb(206, 206, 206);
    transition: 0.3s linear;
}

.footer .upper h6:hover {
    color: #ababab;
}

.footer .social-icon a {
    text-decoration: none;
}

.footer .social-icon a i {
    width: 100px !important;
    height: 100px !important;
    padding: 10px;
    border: 2px solid grey;
    /* border-radius: 100%;  */
    text-decoration: none;
    color: gray;
    font-size: 1.3rem;
    border-radius: 50vmax;
    transition: 0.3s linear;
    /* background-color: rebeccapurple; */
}

.footer .social-icon a i:hover {
    border: 2px solid #d8d8d8;

}

.footer .lower-a-link div a {
    color: #797979;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s linear;
    margin-top: 5vmax !important;
}

.footer .lower-a-link div {
    margin-top: 1vmax !important;
    margin-bottom: 1.5vmax;
}

.footer .lower-a-link a:hover {
    color: #d8d8d8;
}

.footer .lower-a-link .design-by h6 {
    color: #797979;
    font-size: 0.9rem;
    font-weight: 600;
}

.container-flip {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}

.container-flip.grid,
.container-flip.columns {
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

.letter {
    text-align: center;
    color: black;
    font-size: 10vmax;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 6px;
}

.container-flip.grid .letter {
    flex-basis: 50%;
}

.container-flip.columns .letter {
    flex-basis: 25%;
}

.for,
.gsap {
    font-size: 5vmax;
    color: var(--color-surface-white);
}

.for {
    padding: 2px 1.6vmax;
    font-weight: 300;
    display: none;
    color: #fff;
}

.gsap {
    padding: 2px 0;
    font-weight: 600;
    display: none;
    color: #ff7a06;
}

.container-flip.final .for,
.container-flip.final .gsap {
    display: block;
}

.F {
    background: #00BAE2;
}

.l {
    background: #FFC4FB;
}

.i {
    background: #E0FBFF;
}

.p {
    background: #BFF3FE;
}

.container-flip.plain .letter {
    background: transparent;
    color: rgb(237, 212, 154);
    padding: 0;
}

.logo {
    position: fixed;
    width: 100px;
    bottom: 20px;
    right: 30px;
}

.page-5 {
    background-color: #FFB219;
    width: 100%;
    overflow: hidden;
}

.container-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (min-width: 768px) {
    .container-slider {
        display: flex;
        flex-direction: initial;
        gap: 40px;
        padding-right: 40px;
    }

    .container-slider h1{
        font-size: 20px !important;
        border: none !important;
    }

}

.text-slider {
    padding: 15px 0;
    font-size: 10vw;
    letter-spacing: -0.01em;
    line-height: 100%;
    margin: 0;
    width: 100%;
    color: rgba(255, 255, 255, 0.2);
    background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;

    border-bottom: 1px solid #2f2b28;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container-slider span {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ff7a06;
    color: #0d0d0d;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
    transform-origin: center;
    transition: all cubic-bezier(0.1, 0.5, 0.5, 1) 0.4s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-slider .text-slider:hover>span {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}